@font-face{
    font-family: "StalinistOne-Regular";
    src: url('../fonts/StalinistOne-Regular.ttf');   
}


.header{    
   margin-top: 1em;
   display: flex;
   justify-content: center;
   margin-bottom: 2em;
}
#mainH1{
    font-family: "StalinistOne-Regular";    
}

.block{
    margin-top: 2em;   
    margin-bottom: 1em; 
}
#proba{
    background-color: #d45e6a;
}
#btn_project{
    text-align: center;
    color: #5d6aec;
    font-style: italic;
    border: 3px solid #5d6aec; 
    border-radius: 45%; 
}
#rezum{
    display: flex;
    justify-content: end;
    color: #5d6aec;
    font-style: italic;
}
.footer{
    margin-top: 3em;          
}
/*Навигационное меню*/
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 15px 15px 0;
}
#resume {
    top: 40%;
    background-color: #4caf50;
}

#projects {
    background-color: #5d6aec;
    top: 50%;
}

#work {
    background-color: #d45e6a;
    top: 60%;
}

#mySidenav a:hover {
    left: 0;
}